<!doctype html>
<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap');

    * {
      font-family: 'Azeret Mono', monospace;
      background-color: rgb(115, 179, 190);
      
    }

    .back {
      color: white;
    }

    .back:hover {
      color: black;
    }

    a {
      text-decoration: none;
    }
    </style>
</head>
<a href="/more"><p class="back">BACK</p></a>
<img src="https://i.postimg.cc/NLqT7XNK/logoo.png" style="height: 90px; width: auto; display: block; margin-left: auto; margin-right: auto;">
<h1 style="font-family: 'Azeret Mono', monospace; text-align: center;">Blåhaj Task Management</h1>
{%- for category, message in get_flashed_messages(with_categories=true) %}
  <p class="flask {{ category }}-flash">{{
    "Error: " if category == 'error' }}{{ message }}</p>
{%- endfor %}
{% block body %}{% endblock %}
<hr>
<address style="text-align: center;">Blåhaj Appreciation Society</address>
